{
  "presets": ["env","stage-0","react"],
  "plugins": ["react-hot-loader/babel",
    "transform-object-rest-spread",
    "transform-export-extensions",
    "transform-regenerator",
    "transform-runtime"
  ],
  "sourceMaps": true
}